*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Dando un color especifico al fondo del body */
body{
    background-color: rgb(249, 214, 155);
}

/* Clase principal (hijo de contenedor) */
.principal{
    margin-top: 50px;
    background-color: white;
    padding: 20px;
    /* Siempre tomara el mismo ancho que el contenedor */
    width: 100%;
}

/* El anchom de las imagenes tomara el 100 porciento del ancho del elemento donde este */
img{
    width: 100%;
}
/* El ancho de los videos tomara el 100 porciento del ancho del elemento donde este */
video{
    width: 100%;
}
/* El ancho de los audios toamra el 100 porciento del ancho del elemento donde este */
audio{
    width: 100%;
}

/* Cambios si la altura es menor o igual a 1024px */
@media (max-width: 1024px) {

}
/* Cambios si la altura es menor o igual a 768px */
@media (max-width: 768px) {

}
/* Cambios si la altura es menor o igual a 480px */
@media (max-width: 480px) {

}